path {
  stroke-width: 2;
}

.axis-label {
  font-size: 0.75rem;
} 

.tick {
  font-size: 1.25em;
}

.y-unit {
  font-size: 0.6em;
}

/* https://css-tricks.com/aspect-ratio-boxes/ */
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 50%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}